@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-black: #000;
  --primary-blue: #398AAA;
  --primary-dark-blue: #1f7495;
  --bg-light: #f8f9fa;
  --primary-grey: rgb(102, 102, 102);
  --primary-dark-grey: #555;
  --primary-lt-grey: rgb(153, 153, 153);
  --primary-white: #fff;
}

body {
  font-family: 'Roboto Condensed' sans-serif !important;
}


